PORT=
MONGO_URL=
MONGO_URL_CLOUD=
# ATLAS_URL=
# /Encryption
ENC_KEY=
ENC_IV_LENGHT=
# /JWT access token
# //user
JWT_SECRET_USER=
JWT_ACCESS_EXP_USER=
JWT_SECRET_ADMIN=
JWT_ACCESS_EXP_ADMIN=
# //refresh token
# //USER
JWT_REFRESH_SECRET_USER=
JWT_REFRESH_EXP_USER=
JWT_REFRESH_SECRET_ADMIN=
JWT_REFRESH_EXP_ADMIN=
# /CORS
CORS_WHITELISTED_ORIGINS=
# /Google OAuth gcp
GCP_CLIENT_ID=


# REDIS URL
REDIS_URL=

#Node mailer
EMAIL_USER= 
EMAIL_PASS= 
EMAIL_SERVICE=